body {
   background-image: linear-gradient(to right, #f5f5f5, #dadada);
}

.titulo {
   font-weight: bold;
   font-size: 34px;
   text-align: center;
   margin-top: 2%;
}

.texto-nota {
   font-weight: bold;
   font-size: 20px;
}

.caixa {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 8%;
}

.caixa-numero {
   width: 8%;
   border-style: ridge;
   padding: 1%;
   margin: 1.5%;
}

.button {
   background-color: #57ff57;
   color: #000000;
   border-style: groove;
   padding: 1%;
}

.button-container {
   text-align: center;
   width: auto;
}
